################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Risk/bin/Debug/Risk.vshost.exe
/Risk/.vs/Risk/v14
/Risk/bin/Debug
/Risk/obj/Debug
/ServerTest
/ClientTest
/builds/Debug
/RiskModel/obj/Debug
/RiskViewModel/obj/Debug
/RiskServer/obj/Debug
/Server/obj/Debug
/builds/Release
/Risk/obj/Release
/RiskModel/obj/Release
/RiskServer/obj/Release
/RiskViewModel/obj/Release
/Server/obj/Release
/Risk/.vs/config
/AI/obj/Debug
/AI/obj/Release
/AIvsAI/obj
